
<div *ngIf="cashDeskApplication">
    <h2><span jhiTranslate="tradingsystemEmApp.cashDeskApplication.detail.title">Cash Desk Application</span> {{cashDeskApplication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tradingsystemEmApp.cashDeskApplication.inventory">Inventory</span></dt>
        <dd>
            <div *ngIf="cashDeskApplication.inventory">
                <a [routerLink]="['/inventory', cashDeskApplication.inventory?.id]">{{cashDeskApplication.inventory?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tradingsystemEmApp.cashDeskApplication.banks">Banks</span></dt>
        <dd>
            <span *ngFor="let banks of cashDeskApplication.banks; let last = last">
                <a [routerLink]="['/bank', banks?.id ]">{{banks.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cash-desk-application/'+ cashDeskApplication.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
